<div class="container">
    <div class="card">
        <div class="card-header" style="background-color: blue;">
            <h6 class="card-header-text" style="color: white;">Employee Records
            </h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-icons">
                        <i class="fa fa-search"></i>
                        <input type="text" class="input-field" placeholder=" Search Record" (keyup)="searchRecord($event.target.value)">
                    </div>
                </div>
            </div>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <th>Employee Id
                        <a href="#" (click)="sortRecord('emp_id'); sortReverse = !sortReverse">
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>Name
                        <a href="#" (click)="sortRecord('emp_name'); sortReverse = !sortReverse">
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>Designation
                        <a href="#" (click)="sortRecord('emp_design'); sortReverse = !sortReverse">
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </a>
                    </th>
                    <th>Location
                        <a href="#" (click)="sortRecord('emp_loc'); sortReverse = !sortReverse">
                            <i class="fa fa-caret-down"></i>
                            <i class="fa fa-caret-up"></i>
                        </a>
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of temparr">
                        <td>{{item.emp_id}}</td>
                        <td>{{item.emp_name}}</td>
                        <td>{{item.emp_design}}</td>
                        <td>{{item.emp_loc}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>